#group_m2e li {
    list-style-position: inside;
    list-style-type: disc;
    padding-left: 1em;
    text-indent: -1em;
    margin-left: 0;
}

.adminhtml-magentolocalized-form .entry-edit-head img {
    padding: 5px 10px 0;
    margin-top: 5px;
    background: #ffffff;
}

.adminhtml-magentolocalized-form .form-list td.m2e-label {
    background: #ffffff !important;
    border: 1px solid #D6D6D6 !important;
}

.adminhtml-magentolocalized-form .tooltip {
    max-width: 200px;
} 